<%- include("partials/header") -%>

<div class="animated fadeIn" id="landingpage">
  <a class="myName animated" href="/"><span class="namespan">KALYANMOY</span>BORAH</a>
</div>

<div class="blogpost animated zoomIn">
<%  for(i=posts.length-1; i>=0; i--){ %>
    <h2 class="blogtitle"><%= posts[i].title %></h2>
    <p class="blogdate">published on <%= posts[i].date %></p>
    <p class="blogcontent" ><%= posts[i].content.substring(0,300)+"... " %><a class="readmore" style="color:blue" href="/<%= posts[i]._id %>">Read more</a></p>
<%  } %>
</div>


<div class="footer" style="position: relative; top:67px" id="contact" data-aos="zoom-in">

  <div class="container footercont">
    <div class="row">
      <div class="col-sm">
        <a href="#landingpage"><h5>KALYANMOY BORAH</h3></a>
      </div>
      <div class="col-sm">
        <a class="link" href="https://www.facebook.com/kalyanmoy.borah1"><i class="fab fa-facebook-square"></i></a>
        <a class="link" href="https://www.linkedin.com/in/kalyanmoyborah"><i class="fab fa-linkedin"></i></a>
        <a class="link" href="https://github.com/KalyanmoyBorah"><i class="fab fa-github-square"></i></a>
        <a class="link" href="mailto:borahkalyanmoy@gmail.com"><i class="fas fa-envelope-square"></i></a>
      </div>
      <div class="col-sm">
        <p>copyright©2019, All rights reserved.</p>
      </div>
    </div>
  </div>


</div>






<%- include("partials/footer") -%>
